/bin/
/libs/
/**/CMakeFiles
/**/*.stress
/**/*.grid
/**/Testing/
/**/cmake_install.cmake
/**/CMakeCache.txt
/**/CTestTestfile.cmake
/**/*.tcl
/**/Makefile
/**/kim.log
/**/.settings/
/**/.project
/**/.cproject
/*~
/**/*~
/*swp
/**/*swp
